ProjectScheduler/.vs/ProjectScheduler/DesignTimeBuild/.dtbcache.v2
ProjectScheduler/.vs/ProjectScheduler/v16/.suo
ProjectScheduler/.vs/ProjectScheduler/v16/TestStore/0/027.testlog
ProjectScheduler/.vs/ProjectScheduler/v16/TestStore/0/testlog.manifest
atelier3/Atelier3.Test/bin/Debug/net5.0/Atelier3.dll
atelier3/Atelier3.Test/bin/Debug/net5.0/Atelier3.pdb
atelier3/Atelier3.Test/obj/Debug/net5.0/Atelier3.Test.csproj.AssemblyReference.cache
ProjectScheduler/ProjectScheduler/bin/Debug/net5.0/ProjectScheduler.deps.json
ProjectScheduler/ProjectScheduler/bin/Debug/net5.0/ProjectScheduler.dll
ProjectScheduler/ProjectScheduler/bin/Debug/net5.0/ProjectScheduler.exe
ProjectScheduler/ProjectScheduler/bin/Debug/net5.0/ProjectScheduler.pdb
ProjectScheduler/ProjectScheduler/bin/Debug/net5.0/ProjectScheduler.runtimeconfig.dev.json
ProjectScheduler/ProjectScheduler/bin/Debug/net5.0/ProjectScheduler.runtimeconfig.json
ProjectScheduler/ProjectScheduler/bin/Debug/net5.0/ref/ProjectScheduler.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Castle.Core.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/CoverletSourceRootsMapping
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Microsoft.TestPlatform.AdapterUtilities.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Moq.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/Newtonsoft.Json.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/NuGet.Frameworks.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ProjectScheduler.deps.json
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ProjectScheduler.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ProjectScheduler.exe
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ProjectScheduler.pdb
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ProjectScheduler.runtimeconfig.dev.json
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ProjectScheduler.runtimeconfig.json
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ProjectSchedulerTest.deps.json
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ProjectSchedulerTest.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ProjectSchedulerTest.pdb
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ProjectSchedulerTest.runtimeconfig.dev.json
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ProjectSchedulerTest.runtimeconfig.json
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/testhost.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/testhost.exe
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ref/ProjectSchedulerTest.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ProjectScheduler/ProjectSchedulerTest/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ProjectScheduler/ProjectSchedulerTest/obj/project.assets.json
ProjectScheduler/ProjectSchedulerTest/obj/project.nuget.cache
ProjectScheduler/ProjectSchedulerTest/obj/ProjectSchedulerTest.csproj.nuget.dgspec.json
ProjectScheduler/ProjectSchedulerTest/obj/ProjectSchedulerTest.csproj.nuget.g.props
ProjectScheduler/ProjectSchedulerTest/obj/ProjectSchedulerTest.csproj.nuget.g.targets
ProjectScheduler/ProjectSchedulerTest/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ProjectScheduler/ProjectSchedulerTest/obj/Debug/net5.0/ProjectSchedulerTest.AssemblyInfo.cs
ProjectScheduler/ProjectSchedulerTest/obj/Debug/net5.0/ProjectSchedulerTest.AssemblyInfoInputs.cache
ProjectScheduler/ProjectSchedulerTest/obj/Debug/net5.0/ProjectSchedulerTest.assets.cache
ProjectScheduler/ProjectSchedulerTest/obj/Debug/net5.0/ProjectSchedulerTest.csproj.AssemblyReference.cache
ProjectScheduler/ProjectSchedulerTest/obj/Debug/net5.0/ProjectSchedulerTest.csproj.CopyComplete
ProjectScheduler/ProjectSchedulerTest/obj/Debug/net5.0/ProjectSchedulerTest.csproj.CoreCompileInputs.cache
ProjectScheduler/ProjectSchedulerTest/obj/Debug/net5.0/ProjectSchedulerTest.csproj.FileListAbsolute.txt
ProjectScheduler/ProjectSchedulerTest/obj/Debug/net5.0/ProjectSchedulerTest.dll
ProjectScheduler/ProjectSchedulerTest/obj/Debug/net5.0/ProjectSchedulerTest.GeneratedMSBuildEditorConfig.editorconfig
ProjectScheduler/ProjectSchedulerTest/obj/Debug/net5.0/ProjectSchedulerTest.genruntimeconfig.cache
ProjectScheduler/ProjectSchedulerTest/obj/Debug/net5.0/ProjectSchedulerTest.pdb
ProjectScheduler/ProjectSchedulerTest/obj/Debug/net5.0/ref/ProjectSchedulerTest.dll
ProjectScheduler/ProjectScheduler/obj/project.assets.json
ProjectScheduler/ProjectScheduler/obj/project.nuget.cache
ProjectScheduler/ProjectScheduler/obj/ProjectScheduler.csproj.nuget.dgspec.json
ProjectScheduler/ProjectScheduler/obj/ProjectScheduler.csproj.nuget.g.props
ProjectScheduler/ProjectScheduler/obj/ProjectScheduler.csproj.nuget.g.targets
ProjectScheduler/ProjectScheduler/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ProjectScheduler/ProjectScheduler/obj/Debug/net5.0/apphost.exe
ProjectScheduler/ProjectScheduler/obj/Debug/net5.0/ProjectScheduler.AssemblyInfo.cs
ProjectScheduler/ProjectScheduler/obj/Debug/net5.0/ProjectScheduler.AssemblyInfoInputs.cache
ProjectScheduler/ProjectScheduler/obj/Debug/net5.0/ProjectScheduler.assets.cache
ProjectScheduler/ProjectScheduler/obj/Debug/net5.0/ProjectScheduler.csproj.AssemblyReference.cache
ProjectScheduler/ProjectScheduler/obj/Debug/net5.0/ProjectScheduler.csproj.CoreCompileInputs.cache
ProjectScheduler/ProjectScheduler/obj/Debug/net5.0/ProjectScheduler.csproj.FileListAbsolute.txt
ProjectScheduler/ProjectScheduler/obj/Debug/net5.0/ProjectScheduler.dll
ProjectScheduler/ProjectScheduler/obj/Debug/net5.0/ProjectScheduler.GeneratedMSBuildEditorConfig.editorconfig
ProjectScheduler/ProjectScheduler/obj/Debug/net5.0/ProjectScheduler.genruntimeconfig.cache
ProjectScheduler/ProjectScheduler/obj/Debug/net5.0/ProjectScheduler.pdb
ProjectScheduler/ProjectScheduler/obj/Debug/net5.0/ref/ProjectScheduler.dll
atelier3/Atelier3/bin/Debug/net5.0/Atelier3.dll
atelier3/Atelier3/bin/Debug/net5.0/Atelier3.pdb
atelier3/Atelier3/bin/Debug/net5.0/Atelier3.dll
atelier3/Atelier3/bin/Debug/net5.0/Atelier3.pdb
atelier3/Atelier3/bin/Debug/net5.0/Atelier3.dll
atelier3/Atelier3/bin/Debug/net5.0/Atelier3.pdb
atelier3/Atelier3/obj/Debug/net5.0/Atelier3.dll
atelier3/Atelier3/obj/Debug/net5.0/Atelier3.pdb
TestVSCode.sh
TestVSCode.sh
